# Backend
CONNECTIONSTRINGS__DEFAULTCONNECTION=Host=localhost;Port=5432;Database=nomedoprojeto;Username=postgres;Password=postgres
JWT__ISSUER=NomeDoProjeto
JWT__AUDIENCE=NomeDoProjeto.Web
JWT__KEY=development-super-secret-key-change-me
STORAGE__ROOTPATH=uploads

# Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:5000/api/v1
